<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="navigateToInicio()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Configurador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Nuestro configurador</h1>
  <p>Se encuentra en fase de pruebas. No queremos ofrecer un producto incompleto a nuestros clientes</p>
  <ion-img width="80" height="80" src="https://www.caseking.de/media/image/pc-konfigurator.png"></ion-img>
</ion-content>
<ion-footer class="pie">
  <ion-toolbar>
    <ion-buttons class="botones-footer">
      <ion-button class="button-footer" (click)=navigateToConfigurador()>
        <ion-icon name="laptop" size="large"></ion-icon>
      </ion-button>
      <ion-button class="button-footer" (click)=navigateToInformacion()>
        <ion-icon name="watch" size="large"></ion-icon>
      </ion-button>
      <ion-button class="button-footer" (click)=navigateToAbout()>
        <ion-icon name="today" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
