<ion-header>
  <ion-toolbar>
    <ion-title>
      Hardware de PC
    </ion-title>
    <ion-buttons slot="end">

      <ion-button title="Cerrar sesión" *ngIf="userUID !== ''" (click)="logout()"><ion-icon name="log-out"></ion-icon></ion-button>
      <ion-button title="Iniciar Sesión" *ngIf="userUID == ''" (click)="navigateToLogin()"><ion-icon name="log-in"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <p hidden>{{ userUID }}</p>
  <h1>LISTA DE PIEZAS</h1>
  <ion-list>
    <ion-item *ngFor="let documentPiezas of arrayColeccionPiezas" (click)="navigateToPiezaDetalle(documentPiezas.id)">
      <ion-grid>
        <ion-row>
          <h2>
            <ion-icon name="laptop"></ion-icon> {{documentPiezas.data.tipo}}
          </h2>
        </ion-row>
        <ion-row>
          <p>
            <ion-icon name="keypad"></ion-icon> {{documentPiezas.data.modelo}}
          </p>
        </ion-row>
        <ion-row>
          <p>
            <ion-icon name="star-outline"></ion-icon> {{documentPiezas.data.valoracion}}
          </p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToPiezaDetalle('nuevo')" color="primary">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer class="pie">
  <ion-toolbar>
    <ion-buttons class="botones-footer">
      <ion-button class="button-footer" (click)=navigateToConfigurador()>
        <ion-icon name="laptop" size="large"></ion-icon>Configurador
      </ion-button>
      <ion-button class="button-footer" (click)=navigateToInformacion()>
        <ion-icon name="watch" size="large"></ion-icon>Información
      </ion-button>
      <ion-button class="button-footer" (click)=navigateToAbout()>
        <ion-icon name="today" size="large"></ion-icon>Acerca de
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>