<ion-header>
  <ion-toolbar>
    <ion-title>
    Hardware de PC
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button (click)="clicBotonInsertar()">Añadir pieza</ion-button>
  <h1>LISTA DE PIEZAS</h1>
  <ion-list>
    <ion-item *ngFor="let documentPiezas of arrayColeccionPiezas" (click)="navigateToPiezaDetalle(documentPiezas)">
      <ion-grid>
        <ion-row>
          <h2>{{documentPiezas.data.tipo}}</h2>
        </ion-row>
        <ion-row>
          <p>{{documentPiezas.data.modelo}}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
