<ion-header>
  <ion-toolbar>
    <ion-title>
      PC Hardware
    </ion-title>
    <ion-buttons slot="end">
      <ion-button title="Cerrar sesión" *ngIf="userUID !== ''" (click)="logout()">
        <p>Logout</p>
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
      <ion-button title="Iniciar Sesión" *ngIf="userUID == ''" (click)="navigateToLogin()">
        <p>Login</p>
        <ion-icon name="log-in"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <p hidden>{{ userUID }}</p>
  <h1 align="center">LISTA DE PIEZAS</h1>
  <ion-list>
    <ion-item *ngFor="let documentPiezas of arrayColeccionPiezas" (click)="navigateToPiezaDetalle(documentPiezas.id)">
      <ion-grid>
        <img [src]="documentPiezas.data.foto" alt="" width="100px" height="100px">
        <ion-row>
          <h2>
            <i class="material-icons">
              devices_other
            </i> {{documentPiezas.data.tipo}}
          </h2>
        </ion-row>
        <ion-row>
          <i class="material-icons">
            perm_device_information
            </i> {{documentPiezas.data.modelo}}
        </ion-row>
        <ion-row>
          <i class="material-icons">
            star_half
            </i> {{documentPiezas.data.valoracion}}
        </ion-row>
        <ion-row class="imagenprincipal">
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="userUID !== ''" (click)="navigateToPiezaDetalle('nuevo')" color="primary">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer class="pie">
  <ion-toolbar>
    <ion-buttons class="botones-footer">
      <ion-button class="button-footer" (click)=navigateToConfigurador()>
        <ion-icon name="laptop" size="large"></ion-icon>Configurador
      </ion-button>
      <ion-button class="button-footer" (click)=navigateToInformacion()>
        <ion-icon name="watch" size="large"></ion-icon>Información
      </ion-button>
      <ion-button class="button-footer" (click)=navigateToAbout()>
        <ion-icon name="today" size="large"></ion-icon>Acerca de
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>